@media (max-width: 1201px)
    .container
        padding: 0 1rem
    .photo-exhibition
        &__wrapper
            flex-wrap: wrap
        &__photo-wrapper
            margin: 0 auto
        &__photo-wrapper_media-hide
            display: none
    .control
        li
            left: 1.5rem
        .next
            left: auto
            right: 1.5rem
@media (max-width: 961px)
    .control
        display: none
@media (max-width: 720px)
    .header
        &__brand
            font-size: 2rem
        &__menu-list
            gap: .8rem
            li
                a
                    font-size: 1.4rem
