@import "base/variables"
@import "base/mixins"

*
    font-family: 'Poppins'
    font-size: 62.5%
    color: #fff

body
    background-color: #000

.container
    max-width: 113.8rem
    margin: 0 auto
    position: relative

@import "blocks/buttons.sass"
@import "blocks/promo"
@import "blocks/header"
@import "blocks/photo-exhibition"
@import "blocks/shop"
@import "blocks/titles"
@import "blocks/card"
@import "blocks/fashion"
@import "blocks/controls"
@import "base/media"
