.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2rem 1rem 3.2rem
    &__brand
        font-weight: 700
        font-size: 2.8rem
        color: #fff
    &__menu
        position: static
        display: flex
        // max-width: 52.7rem
        margin: 0
        max-height: 2.7rem
        justify-content: space-between
        align-items: center
        gap: 2.2rem
        padding: 0
    &__link
        font-weight: 400
        font-size: 1.8rem
        color: #fff
        text-decoration: none
        padding: 2rem 0
        text-transform: uppercase
        &:hover
            transform: translateY(-.2rem)
            text-shadow: 0 0 2rem #ecbd97
            &:active
                transform: translateY(0rem)
    &__hamburger
        display: none
